@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style:none;
}

a{
    font-size: 2rem;
    text-decoration: none;
}

p, li{
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
    font-weight: 500;
}

/* utility classes */

.heading1{
    font-size: 3.5rem;
}

.heading2{
    font-size: 2.5rem;
}

.heading3{
    font-size: 3rem;
}

.text-blue{
    color:rgb(48, 88, 121);
}

.text-dark{
    color: rgb(48, 88, 121);
}

.text-grey{
    color: rgb(92, 89, 89);
}

.text-dblue{
    color: rgb(11, 136, 136);
}

.button{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    margin: 0.5em;
    background-color: white;
    border-radius: 10em;
}

.button:hover{
    background-color: rgba(5, 17, 17, 0.164);
}

.bg-dark{
    background-color:rgba(255, 203, 211, 0.808);
}

/* header styles */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header{
    background-color: rgba(212, 255, 252, 0.685);
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(255, 203, 211, 0.808), rgba(212, 255, 252, 0.685));
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.header .h-content h2{
    font-family: 'Monoton', cursive;
    font-weight:500;
    animation-name: bbsr;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bbsr{
    from{
        font-weight:500;
    }
    to{
        font-weight:700;
    }
}

/* NAVIGATION BAR */

.nav{
    padding: 1rem;
    background-color:rgb(240, 240, 224);
}

.nav a:link, .nav a:visited{
    color:rgb(48, 88, 121);
}

.nav .logo{
    float: left;
}

.nav .ul{
    float: right;
    margin-top: 0.6rem;
}

.nav .listval{
    display: inline-block;
    padding: 1rem;
}

.nav::after{
    content: '';
    display: block;
    clear: both;
}

/* CONTENT HEADER */

.h-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.h-content p{
    padding: 2rem;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0.002rem;
    margin-top: 4rem;
  }
  .column2 {
    float: left;
    width: 33.33%;
    padding: 0.5rem;
  }

  .pic::after {
    content: "";
    clear: both;
    display: table;
  }

/* section-styling */

.section{
    background-color: rgba(212, 255, 252, 0.685);
    padding: 10rem;
}

.row{
   max-width: 800px;
   margin: auto ;
   margin-bottom: 10rem;
   position: relative;
}
.txt{
    text-align: center;
    color: rgb(38, 69, 95);
}
.row .imgbox{
    display: block;
    width: 100%;
    height: 100%;
}
.row .imgbox img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row .textbox{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.row .textbox .dwn{
    width: 100%;
    color: white;
 }

.row .textbox .addl{
   color: whitesmoke;
   width: 100%;
   padding: 2rem;
}

.addl a:link, .addl a:visited{
    color: lemonchiffon;
}

.addl a:hover{
    text-decoration: underline solid lemonchiffon;
}

.button-exp{
    display: inline-block;
    font-weight: 500;
    background-color:white;
    border-radius: 1.5em;
    color: rgb(165, 1, 1);
    border: 1px solid rgb(165, 1, 1) ;
}
.button-exp:hover{
    background-color: rgb(253, 220, 220);
}
.row::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.row:hover .textbox{
    opacity: 1;
    left: 50%;
    top:50%
}
.row:hover::after{
    opacity: 1;
}

/* FOOTER STYLING */

.footer{
    
    color:rgb(175, 86, 116);
    padding: 2rem;
    text-align: center;
}

.footer p{
    font-size: 2.4rem;
    text-transform: uppercase;
}

.social-media i{
    padding: 1rem 4rem;
}

a[href *= "gmail"]{
    color:rgb(175, 86, 116);
}

/*Form*/

.formm{
    padding: 5rem;
    background-color:rgba(212, 255, 252, 0.685);
}

.form-sec::after{
    content: '';
    display: block;
    clear: both;
}

.form-sec .form{
    border:rgba(167, 224, 221, 0.685); solid 5px; 
    width: 89%; 
    height: 620px;
    margin-left: 10rem;
    text-align: center;
    background-color: white;
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 5rem;
    font-family: 'Lemonada', cursive;
}

.form{
    height: 350px;
    margin-bottom: 10rem;
    box-shadow: 0px 0px 20px 0px rgba(144, 199, 196, 0.685);
}

.form-sec .form h1{
    width: 100%;
    background-color:rgb(39, 100, 110);
    color: rgb(243, 239, 243);
    padding-left: 1rem;
}

.form-sec .form p{
    font-size: 2.5rem;
}

.form-sec .form label{
    display: block;
    padding: 0.8rem;
}

.form-sec .form input{
    width: 89%;
    padding: 0.5rem;
    background-color: rgba(39, 100, 110, 0.274);
    font-size: 2rem;
    border-radius: 3rem;
    border-color: rgba(255, 255, 255, 0.589);
    font-family: 'Lemonada', cursive;
}

::placeholder{
    color: rgb(39, 100, 110);
}
.form input:focus {
    outline-width:0;
    outline:none;
    border: 1px solid #FFF; 
}

.form-sec .form .form-elements{
    margin-bottom: 3rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.3em 0.8em;
    font-size: 2.4rem;
    background-color: rgb(39, 100, 110);
    border-radius: 10em;
    color: rgb(246, 249, 250);
    outline: none;
    border: none;
    border-radius: 10em;
    cursor: pointer;
}


/*PHONE*/
@media(max-width: 500px)
{
    html{
        font-size: 50%;
    }
    .nav .logo, .nav .ul{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .h-content .pic .column, .h-content .pic .column2{
        display:none;
    }
    .row{
        height: auto;
        width:100%;
    }

    .row .imgbox, .row .textbox{
        float:none;
        display: block;
        width: 100%;
        text-align:center;
    }

    .button-exp{
        text-align: center;
    }
    .form{
        height: auto;
        width: 100%;
    }
    .form-sec .form{
        border:rgba(167, 224, 221, 0.685); solid 5px; 
        width: 89%; 
        height: auto;
        margin-left: 0;
        text-align: center;
        background-color: white;
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 5rem;
        font-family: 'Lemonada', cursive;
    }
}
@media(min-width: 501px) and (max-width:760px)
{
    html{
        font-size: 55%;
    }
    .nav .logo, .nav .ul{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .h-content .pic .column, .h-content .pic .column2{
        display:none;
    }
    .row{
        height: auto;
        width:100%;
    }

    .row .imgbox, .row .textbox{
        float:none;
        display: block;
        width: 100%;
        text-align:center;
    }

    .button-exp{
        text-align: center;
    }
    .form{
        height: auto;
        width: 100%;
    }
    .form-sec .form{
        border:rgba(167, 224, 221, 0.685); solid 5px; 
        width: 89%; 
        height: auto;
        margin-left: 0;
        text-align: center;
        background-color: white;
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 5rem;
        font-family: 'Lemonada', cursive;
    }
}
